
/*  animation */
#animasjon{
	width: 200px;
	height: 200px;
	background-color: white;
	border: 2px solid black;
	animation-name: radiusFarge;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}
@keyframes radiusFarge{
	10% { background-color: red;}
	20% { background-color: orange;}
	30% { background-color: yellow;}
	40% { background-color: green;}
	50% { border-radius: 70%}
	60% { background-color: darkgreen}
	70% { background-color: blue;}
	80% { background-color: darkblue;}
	90% { background-color: violet;}
	100% {border-radius: 0%;}
}
